<h1>Khóa học của tôi</h1>
<a href='courses/create' class='btn btn-primary'>Thêm khóa học</a>
<a href='me/trash/courses' class='btn btn-primary'>Thùng rác {{countCoursesDelted}}</a>
<div class='row'>
    {{#each courses}}
        <div class='col-md-4'>
            <div class='card' style='width: 18rem;'>
                <a href='/courses/{{this.slug}}'>
                    <img src='{{this.image}}' class='card-img-top' alt='{{this.name}}' />
                </a>
                <div class='card-body'>
                    <a href='courses/{{this.slug}}'>
                        <h5 class='card-title'>{{this.name}}</h5>
                    </a>
                    <p class='card-text'>{{this.description}}</p>
                    <a href='/courses/{{this._id}}/delete' class='btn btn-primary'>Xóa</a>
                    <a href='/courses/{{this._id}}/edit' class='btn btn-primary'>Sửa</a>
                </div>
            </div>
        </div>
    {{/each}}
</div>